@media (max-width: 1300px){
    .product__more{
        margin-top: 60px;
    }
}
@media (max-width: 1200px){
    .banner__slider-img{
        min-height: 380px;
        max-width: 600px;
    }
    .banner__inner{
        justify-content: space-around;
    }
    .banner__slider{
        max-width: 600px;
    }
    .slick-dots{
        bottom: 35px;
    }
    .categories__inner{
        justify-content: space-around;
    }
    .banner-link img{
        width: 100%;
    }
    .catalog__inner-list{
        justify-content: space-around;
    }
    .contact__map{
        display: flex;
        justify-content: center;
    }
    .contact__map iframe{
        width: 1085px;
    }
}

@media (max-width: 1100px) {
    .menu__item + .menu__item {
        padding-left: 20px;
    }
    .header__adress {
        margin-right: 20px;
    }
    .slick-dots{
        bottom: 35px;
    }
    .card__input-search{
        margin-right: 0;
    }
    .card__label-search::after {
        right: 18px;
    }
    .contact__map iframe{
        width: 952px;
    }
}

@media (max-width: 968px) {
    .header__bottom {
        display: none;
    }
    .menu__list {
        display: none;
    }
    .menu__btn {
        display: block;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
    }
    .menu__btn-line {
        background: #2f3035;
        height: 3px;
        width: 34px;
        border-radius: 3px;
        margin: 8px 0;
    }
    .menu__mobile-linewrapper {
        display: block;
        font-size: 20px;
        line-height: 24px;
        font-family: "SFProDisplay-bold", sans-serif;
        font-weight: 700;
        background: #f0f0f4;
        overflow-x: scroll;
    }
    .menu__mobile-line {
        padding: 14px 0 14px 15px;
        width: 450px;
    }    
    .banner__slider-img{
        min-height: 380px;
        max-width: 100%;
    }
    .banner__slider-item{
        text-align: center;
    }
    .banner__inner{
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner__slider{
        max-width: 100%;
        margin-bottom: 25px;
    }
    .banner__slider-btn{
        display: none; !important
    }
    .slick-dots{
        bottom: 10px;
    }
    .mobile-overflow{
        width: 1500px;
    }
    .tabs-wrapper,
    .breadcrumb__inner,
    .catalog__filter-itemsinner,
    .tabs-wrapper__inner,
    .menu__mobile-linewrapper
    {
        overflow-x: scroll;
    }
    .product-card__inner{
        flex-wrap: wrap;
    }
    .product-card__tab-box{
        display: none;
    }
    .product-card__content{
        order: -1;
    }
    .product-card__btn.product-card__btn-mobile{
        display: block;
        margin-top: 40px;
    }
    .product-card__img-box{
        width: 100%;
    }
    .breadcrumbs{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .payment__maintitle {
        font-size: 19px;
        padding-bottom: 15px;
        margin-bottom: 25px;
    }
    .payment__title {
        margin-bottom: 15px;
        font-size: 17px;
    }
    .payment__shipping-item,
    .payment__shipping-text{
        font-size: 15px;
    }
    .contact__maintitle{
        font-size: 19px;
        padding-bottom: 15px;
        margin-bottom: 25px;
    }
    .contact__img{
        width: 18px;
        height: auto;
        margin: 2px 13px 0 3px;
    }
    .contact__title{
        font-size: 16px;
    }
    .contact__text{
        font-size: 15px;
    }
    .contact__map iframe{
        width: 768px;
    }
}

@media (max-width: 940px) {
    .footer__top-inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__top-item{
        margin-bottom: 25px;
    }
    .catalog__filter-btn button {
        display: none;
    }
    .catalog__filter-btn{
        margin-top: 30px;
    }
    .catalog__filter{
        display: block;
    }
    .card__top-line label{
        display: block;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .card__list-item{
        display: block;
    }
    .card__list-item div{
        margin-bottom: 15px;
    }
    .card__list-itemtitle{
        display: none;
    }
    .card__label-search::after {
        display: none;
    }
}

@media (max-width: 768px){
    .contact__map iframe{
        width: 640px;
        height: 400px;
    }
    .leaflet-pane leaflet-map-pane{
        transform: translate3d(-252px, -113px, 0px);
    }
    .container-forms {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .container-forms.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container-forms:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .container-forms.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container-forms.sign-up-mode .left-panel .image,
    .container-forms.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container-forms.sign-up-mode .right-panel .image,
    .container-forms.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container-forms.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 640px) {
    .header__adress {
        display: none;
    }
    .banner__slider-img{
        min-height: 200px;
    }
    .banner .container{
        padding: 0;
    }
    .search__content-form{
        position: relative;
    }

    .search__content-btn{
        font-size: 0;
        line-height: 0;
        padding: 17px;
        background-image: url('../images/search-mobile.svg');
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        right: 8px;
        top: 13px;
    }
    .search__content-input{
        height: 50px;
        padding-right: 50px;
    }
    .banner-link img{
        min-height: 90px;
        object-fit: contain;
    }
    .catalog__inner{
        flex-wrap: wrap;
    }
    .tabs-wrapper.tabs-wrapper--no-scroll{
        overflow: hidden;
    }
    .aside__btn{
        display: block;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        font-weight: 700;
        width: 100%;
        color: #fff;
        background: #1c62cd;
        margin-bottom: 50px;
    }
    .aside-filter{
        display: none;
    }
    .product-card__title{
        font-size: 20px;
        line-height: 24px;
    }
    .rate{
        display: inline-block;
        margin-top: 20px;
        margin-left: 0;
    }
    .product-card__buttons a + a{
        margin-left: 0;
    }
    .product-card__img{
        width: 100%;
    }
    .payment__maintitle {
        font-size: 17px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .contact__map iframe{
        width: 540px;
    }
}

@media (max-width: 540px){
    .footer__top-item{
        width: 100%;
    }
    .footer__top-inner{
        justify-content: start;
    }
    .footer__bottom{
        flex-direction: column;
        align-items: center;
    }
    .footer__bottom-link{
        margin: 12px 0;
    }
    .footer__top-social.footer__top-item{
        width: 100%;
        border: none;
    }
    .footer__top-newslatter.footer__top-item{
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        text-align: center;
    }
    .social__list{
        justify-content: center;
    }
    .footer__top-title.footer__topdrop{
        font-size: 14px;
        line-height: 18px;
        color: #7f7f7f;
        font-weight: 500;
        padding: 15px 0;
    }
    .footer__top-item{
        border-bottom: 2px solid rgba(37, 38, 43, .1);
    }
    .footer__top-itemdrop{
        margin-bottom: 0;
        border-top: 2px solid rgba(37, 38, 43, .1);
    }
    .footer__topdrop{
        position: relative;
    }
    .footer__topdrop::after{
        position: absolute;
        content: '';
        background-image: url("../images/arrow-down.svg");
        right: 2px;
        top: 21px;
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
    }
    .footer__topdrop--active::after{
        transform: rotate(180deg);
    }
    .footer__top-item.footer__top-social{
        justify-content: center;
    }
    .footer-list{
        display: none;
    }
    .card__input-search{
        display: block;
        width: 80%;
        margin: 0;
        margin-top: 10px;
    }
    .footer__topdrop{
        pointer-events: auto;
    }
    .payment__maintitle {
        font-size: 19px;
        padding-bottom: 15px;
        margin-bottom: 25px;
    }
    .payment__title {
        margin-bottom: 15px;
        font-size: 17px;
    }
    .payment__shipping-item,
    .payment__shipping-text{
        font-size: 15px;
    }
    .payment__maintitle {
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .payment__title {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .payment__shipping-item,
    .payment__shipping-text{
        font-size: 13px;
    }
    .contact__maintitle{
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .contact__img{
        width: 16px;
        height: auto;
        margin: 2px 13px 0 3px;
    }
    .contact__title{
        font-size: 15px;
    }
    .contact__text{
        font-size: 14px;
    }
    .contact__map iframe{
        width: 440px;
    }

    form {
        padding: 0 1.5rem;
    }
    .image {
        display: none;
    }
    .panel .content {
        padding: 0.5rem 1rem;
    }
    .container-forms {
        padding: 1.5rem;
    }

    .container-forms:before {
        bottom: 72%;
        left: 50%;
    }

    .container-forms.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}

@media (max-width: 440px) {
    .banner__slider-img{
        min-height: 164px;
    }
    .categories__item{
        padding: 20px 10px 16px;
    }
    .pagination-list__item{
        margin: 0;
    }
    .contact__map iframe{
        width: 320px;
    }
}
